<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shangJiaOrderMapper">
	<!--  
		获取订单列表
	-->
	<select id="getOrderList" parameterType="pd" resultType="pd">
		<!-- SELECT
			tot.order_takeou_id,
			tot.user_shangjia_fid,
			tot.orderTime,
			tot.qucan_number,
			tot.payMethod,
			tot.order_remark,
			IFNULL(tot.deliveryMode,'') deliveryMode,
			tsa.linkmanName,
			tsa.identity,
			tsa.phone kehuphone,
			tuq.phone qishouPhone,
			tsa.detailAddress,
			GROUP_CONCAT(togg.goodsName) goodsName,
			GROUP_CONCAT(togg.goodsNum) goodsNum,
			GROUP_CONCAT(togg.zongpresentPrice) zhiding_shangpin_zongjia,
			SUM(togg.zongcanhefei) canhefei,
			tot.peisongfei,
			SUM(togg.xianxiaoji)+tot.peisongfei xiaoji,
			ROUND(SUM(togg.xianxiaoji)*tot.fuwubili,2) fuwufei,
			SUM(togg.xianxiaoji)-ROUND(SUM(togg.xianxiaoji)*tot.fuwubili,2) yujishouru
		FROM
			tb_order_takeou tot
		LEFT JOIN tb_shouhuo_address tsa ON tsa.shouhuo_address_id = tot.shouhuo_address_fid
		LEFT JOIN tb_user_qishou tuq ON tuq.user_qishou_id=tot.user_qishou_fid
		LEFT JOIN (
			SELECT
				tog.takeout_order_fid,
				tog.goodsName,
				tog.goodsNum,
				tog.goodsNum*tog.originalPrice zongoriginalPrice,
				tog.goodsNum*tog.presentPrice zongpresentPrice,
				tog.goodsNum*tog.canhefei zongcanhefei,
				tog.goodsNum*tog.originalPrice+tog.goodsNum*tog.canhefei yuanxiaoji,
				tog.goodsNum*tog.presentPrice+tog.goodsNum*tog.canhefei xianxiaoji
			FROM
				tb_order_goods tog
		) togg ON togg.takeout_order_fid=tot.order_takeou_id
		WHERE
			tot.user_shangjia_fid=#{user_shangjia_fid}
			<if test="orderStateKehu!='' and orderStateKehu!=null">
				AND tot.orderStateKehu=#{orderStateKehu} 
			</if> 
			<if test="orderStateQishou!='' and orderStateQishou!=null">
				AND tot.orderStateQishou=#{orderStateQishou} 
			</if>
			<if test="orderStateShangjia!='' and orderStateShangjia!=null">
				AND tot.orderStateShangjia=#{orderStateShangjia} 
			</if>
			<if test="nowTime!='' and nowTime!=null">
				AND tot.orderTime LIKE CONCAT(CONCAT('%',#{nowTime}),'%')
			</if>
		GROUP BY tot.order_takeou_id
		ORDER BY tot.orderTime DESC -->
		SELECT
			tot.order_takeou_id,
			tot.user_shangjia_fid,
			tot.orderTime,
			tot.mjyh,
			tot.xyhli,
			tot.mjpsf,
			tot.qucan_number,
			tot.payMethod,
			tot.order_remark,
			IFNULL(tot.deliveryMode,'') deliveryMode,
			tsa.linkmanName,
			tsa.identity,
			tsa.phone kehuphone,
			tuq.phone qishouPhone,
			tsa.detailAddress,
			GROUP_CONCAT(togg.goodsName) goodsName,
			GROUP_CONCAT(togg.goodsNum) goodsNum,
			GROUP_CONCAT(togg.zongpresentPrice) zhiding_shangpin_zongjia,
			SUM(togg.zongcanhefei) canhefei,
			tot.peisongfei,
			tot.paySum+tot.peisongfei xiaoji,
			ROUND(tot.paySum*tot.fuwubili,2) fuwufei,
			tot.paySum-ROUND(tot.paySum*tot.fuwubili,2) yujishouru
		FROM
			tb_order_takeou tot
		LEFT JOIN tb_shouhuo_address tsa ON tsa.shouhuo_address_id = tot.shouhuo_address_fid
		LEFT JOIN tb_user_qishou tuq ON tuq.user_qishou_id=tot.user_qishou_fid
		LEFT JOIN (
			SELECT
				tog.takeout_order_fid,
				tog.goodsName,
				tog.goodsNum,
				tog.goodsNum*tog.originalPrice zongoriginalPrice,
				tog.goodsNum*tog.presentPrice zongpresentPrice,
				tog.goodsNum*tog.canhefei zongcanhefei,
				tog.goodsNum*tog.originalPrice+tog.goodsNum*tog.canhefei yuanxiaoji,
				tog.goodsNum*tog.presentPrice+tog.goodsNum*tog.canhefei xianxiaoji
			FROM
				tb_order_goods tog
		) togg ON togg.takeout_order_fid=tot.order_takeou_id
		WHERE
			tot.user_shangjia_fid=#{user_shangjia_fid}
			<if test="orderStateKehu!='' and orderStateKehu!=null">
				AND tot.orderStateKehu=#{orderStateKehu} 
			</if> 
			<if test="orderStateQishou!='' and orderStateQishou!=null">
				AND tot.orderStateQishou=#{orderStateQishou} 
			</if>
			<if test="orderStateShangjia!='' and orderStateShangjia!=null">
				AND tot.orderStateShangjia=#{orderStateShangjia} 
			</if>
			<if test="nowTime!='' and nowTime!=null">
				AND tot.orderTime LIKE CONCAT(CONCAT('%',#{nowTime}),'%')
			</if>
		GROUP BY tot.order_takeou_id
		ORDER BY tot.orderTime DESC
	</select>
	
	<!-- 商家订单营业额列表 -->
	<select id="getChanKanYeEOrderlistPage" parameterType="page" resultType="pd" useCache="false">
		SELECT
			tot.order_takeou_id,
			tot.user_shangjia_fid,
			tot.orderTime,
			tot.orderNumber,
			tot.qurysdTime,
			tot.qucan_number,
			tot.payMethod,
			tot.order_remark,
			IFNULL(tot.deliveryMode,'') deliveryMode,
			t2.shopName,
			tuq.realName,			
			tuq.phone,
			tsa.linkmanName,
			tsa.identity,
			tsa.phone kehuphone,
			tuq.phone qishouPhone,
			tsa.detailAddress,
			<!-- togg.goodsName, -->
			togg.goodsNum,
			togg.presentPrice,
			togg.zongpresentPrice,
			GROUP_CONCAT(togg.goodsName) goodsName,
			<!-- 
			GROUP_CONCAT(togg.goodsNum) goodsNum,
			GROUP_CONCAT(togg.presentPrice) presentPrice,
			GROUP_CONCAT(togg.zongpresentPrice) zhiding_shangpin_zongjia, -->
			SUM(togg.zongcanhefei) canhefei,
			tot.peisongfei,
			SUM(togg.xianxiaoji)+tot.peisongfei xiaoji,
			ROUND(SUM(togg.xianxiaoji)*tot.fuwubili,2) fuwufei,
			SUM(togg.xianxiaoji)-ROUND(SUM(togg.xianxiaoji)*tot.fuwubili,2) yujishouru
		FROM
			tb_order_takeou tot
		LEFT JOIN tb_shouhuo_address tsa ON tsa.shouhuo_address_id = tot.shouhuo_address_fid
		LEFT JOIN tb_user_qishou tuq ON tuq.user_qishou_id=tot.user_qishou_fid
		LEFT JOIN tb_user_shangjia t2 ON tot.user_shangjia_fid = t2.user_shangjia_id
		LEFT JOIN (
			SELECT
				tog.takeout_order_fid,
				tog.goodsName,
				tog.goodsNum,
				tog.presentPrice,
				tog.goodsNum*tog.originalPrice zongoriginalPrice,
				tog.goodsNum*tog.presentPrice zongpresentPrice,
				tog.goodsNum*tog.canhefei zongcanhefei,
				tog.goodsNum*tog.originalPrice+tog.goodsNum*tog.canhefei yuanxiaoji,
				tog.goodsNum*tog.presentPrice+tog.goodsNum*tog.canhefei xianxiaoji
			FROM
				tb_order_goods tog
		) togg ON togg.takeout_order_fid=tot.order_takeou_id
		<where>
			tot.user_shangjia_fid=#{pd.user_shangjia_fid} 
			AND tot.orderStateKehu ='5'
			AND tot.orderStateShangjia ='5'
			AND tot.orderStateQishou ='3'
			<if test="pd.searchName!=null and pd.searchName!=''">
		 		AND
				(
					 tot.qucan_number LIKE CONCAT(CONCAT('%', #{pd.searchName}),'%')
					 OR 
					 tot.orderNumber LIKE CONCAT(CONCAT('%', #{pd.searchName}),'%') 
					 OR
					 t2.shopName LIKE CONCAT(CONCAT('%', #{pd.searchName}),'%')
					 OR
					 t2.realName LIKE CONCAT(CONCAT('%', #{pd.searchName}),'%')
					 OR
					 tuq.phone LIKE CONCAT(CONCAT('%', #{pd.searchName}),'%')
					 OR
					 tuq.realName LIKE CONCAT(CONCAT('%', #{pd.searchName}),'%')
					 
				)
		 	</if>
		 	<if test="pd.searchDateStarts!=null and pd.searchDateStarts!=''"><!-- 根据订单完成时间检索，各个月份的数据 -->
				AND tot.qurysdTime LIKE CONCAT(CONCAT('%', #{pd.searchDateStarts}),'%') 
			</if>
		 	<if test="pd.searchDateStart!=null and pd.searchDateStart!=''"><!-- 根据订单完成时间检索（开始日期） -->
				AND tot.qurysdTime &gt;= #{pd.searchDateStart} 
			</if>
			<if test="pd.searchDateEnd!=null and pd.searchDateEnd!=''"><!-- 订单完成时间检索 （结束日期）-->
				AND tot.qurysdTime &lt;= #{pd.searchDateEnd} 
			</if>
			<if test=" pd.searchDateStarts == null or pd.searchDateStarts == '' ">  <!-- 默认查询当天的数据 -->
				AND to_days(tot.qurysdTime) = to_days(now())
				<!-- DATE_FORMAT(NOW(),'%Y-%m-%d')=DATE_FORMAT(tot.qurysdTime,'%Y-%m-%d') -->
			</if>
		</where>
		GROUP BY tot.order_takeou_id
		ORDER BY tot.orderTime DESC
	</select>
	
	<!-- 导出商家订单营业信息列表 -->
	<select id="getChanKanYeEOrderlist" parameterType="pd" resultType="pd" useCache="false">
		SELECT
			tot.order_takeou_id,
			tot.user_shangjia_fid,
			tot.orderTime,
			tot.orderNumber,
			tot.qurysdTime,
			tot.qucan_number,
			tot.payMethod,
			tot.order_remark,
			IFNULL(tot.deliveryMode,'') deliveryMode,
			t2.shopName,
			tuq.realName,			
			tuq.phone,
			tsa.linkmanName,
			tsa.identity,
			tsa.phone kehuphone,
			tuq.phone qishouPhone,
			tsa.detailAddress,
			<!-- togg.goodsName, -->
			togg.goodsNum,
			togg.presentPrice,
			togg.zongpresentPrice,
			GROUP_CONCAT(togg.goodsName) goodsName,
			<!-- 
			GROUP_CONCAT(togg.goodsNum) goodsNum,
			GROUP_CONCAT(togg.presentPrice) presentPrice,
			GROUP_CONCAT(togg.zongpresentPrice) zhiding_shangpin_zongjia, -->
			SUM(togg.zongcanhefei) canhefei,
			tot.peisongfei,
			SUM(togg.xianxiaoji)+tot.peisongfei xiaoji,
			ROUND(SUM(togg.xianxiaoji)*tot.fuwubili,2) fuwufei,
			SUM(togg.xianxiaoji)-ROUND(SUM(togg.xianxiaoji)*tot.fuwubili,2) yujishouru
		FROM
			tb_order_takeou tot
		LEFT JOIN tb_shouhuo_address tsa ON tsa.shouhuo_address_id = tot.shouhuo_address_fid
		LEFT JOIN tb_user_qishou tuq ON tuq.user_qishou_id=tot.user_qishou_fid
		LEFT JOIN tb_user_shangjia t2 ON tot.user_shangjia_fid = t2.user_shangjia_id
		LEFT JOIN (
			SELECT
				tog.takeout_order_fid,
				tog.goodsName,
				tog.goodsNum,
				tog.presentPrice,
				tog.goodsNum*tog.originalPrice zongoriginalPrice,
				tog.goodsNum*tog.presentPrice zongpresentPrice,
				tog.goodsNum*tog.canhefei zongcanhefei,
				tog.goodsNum*tog.originalPrice+tog.goodsNum*tog.canhefei yuanxiaoji,
				tog.goodsNum*tog.presentPrice+tog.goodsNum*tog.canhefei xianxiaoji
			FROM
				tb_order_goods tog
		) togg ON togg.takeout_order_fid=tot.order_takeou_id
		<where>
			tot.user_shangjia_fid=#{user_shangjia_fid} 
			AND tot.orderStateKehu ='5'
			AND tot.orderStateShangjia ='5'
			AND tot.orderStateQishou ='3'
			<if test="searchName!=null and searchName!=''">
		 		AND
				(
					 tot.qucan_number LIKE CONCAT(CONCAT('%', #{searchName}),'%')
					 OR 
					 tot.orderNumber LIKE CONCAT(CONCAT('%', #{searchName}),'%') 
					 OR
					 t2.shopName LIKE CONCAT(CONCAT('%', #{searchName}),'%')
					 OR
					 t2.realName LIKE CONCAT(CONCAT('%', #{searchName}),'%')
					 OR
					 tuq.phone LIKE CONCAT(CONCAT('%', #{searchName}),'%')
					 OR
					 tuq.realName LIKE CONCAT(CONCAT('%', #{searchName}),'%')
					 
				)
		 	</if>
		 	<if test="searchDateStarts!=null and searchDateStarts!=''"><!-- 根据订单完成时间检索，各个月份的数据 -->
				AND tot.qurysdTime LIKE CONCAT(CONCAT('%', #{searchDateStarts}),'%') 
			</if>
		 	<if test="searchDateStart!=null and searchDateStart!=''"><!-- 根据订单完成时间检索（开始日期） -->
				AND tot.qurysdTime &gt;= #{searchDateStart} 
			</if>
			<if test="searchDateEnd!=null and searchDateEnd!=''"><!--订单完成时间检索 （结束日期） -->
				AND tot.qurysdTime &lt;= #{searchDateEnd} 
			</if>
			<if test=" searchDateStarts == null or searchDateStarts == '' ">  <!-- 默认查询当天的数据 -->
				 AND DATE_FORMAT(NOW(),'%Y-%m-%d')=DATE_FORMAT(tot.qurysdTime,'%Y-%m-%d')
			</if>
		</where>
		GROUP BY tot.order_takeou_id
		ORDER BY tot.orderTime DESC
	</select>
	<!--  
		获取指定条件下的订单数量
	-->
	<select id="getOrderNumberByTiaoJian" parameterType="pd" resultType="pd">
		SELECT
			COUNT(*) number
		FROM tb_order_takeou tot
		WHERE
			tot.user_shangjia_fid=#{user_shangjia_fid} 
			AND tot.orderStateShangjia=#{orderStateShangjia}
			<if test="nowTime!='' and nowTime!=null">
				AND tot.orderTime LIKE CONCAT(CONCAT('%',#{nowTime}),'%')
			</if> 
	</select>
	<!--  
		更新订单状态
	-->
	<update id="update_order_state" parameterType="pd">
		update tb_order_takeou
		set
			deliveryMode=#{deliveryMode},
			reward=#{reward},
			orderStateShangjia=#{orderStateShangjia},
			<if test="orderStateQishou!='' and orderStateQishou!=null">
				orderStateQishou=#{orderStateQishou},
			</if>
			orderStateKehu=#{orderStateKehu}
		where 
			order_takeou_id=#{order_takeou_id}
	</update>
	
	<!-- 外卖订单管理列表 -->
	<select id="getOrderTakeoulistPage" parameterType="page" resultType="pd" useCache="false">
		SELECT 
			t1.order_takeou_id,
			t1.orderTime,
			t1.orderNumber,
			t1.qurysdTime,
			t1.qucan_number,
			t1.order_remark,
			t1.payMethod,
			t1.totalSum,
			t1.paySum,
			t1.peisongfei,
			t2.shopName,
			t2.address,			
			t2.realName AS sjrealName,			
			t3.realName,			
			t3.phone,		
			t4.goodsName,		
			t4.goodsNum,		
			t4.canhefei,		
			t4.originalPrice,		
			t4.presentPrice	
		FROM tb_order_takeou t1
		LEFT JOIN tb_user_shangjia t2 ON t1.user_shangjia_fid = t2.user_shangjia_id
		LEFT JOIN tb_user_qishou t3 ON t1.user_qishou_fid = t3.user_qishou_id
		LEFT JOIN tb_order_goods t4 ON t1.order_takeou_id = t4.takeout_order_fid
		<where>
			t1.orderStateQishou ='3'
			<if test="pd.searchName!=null and pd.searchName!=''">
		 		AND
				(
					 t1.qucan_number LIKE CONCAT(CONCAT('%', #{pd.searchName}),'%')
					 OR 
					 t1.orderNumber LIKE CONCAT(CONCAT('%', #{pd.searchName}),'%') 
					 OR
					 t2.shopName LIKE CONCAT(CONCAT('%', #{pd.searchName}),'%')
					 OR
					 t2.realName LIKE CONCAT(CONCAT('%', #{pd.searchName}),'%')
					 OR
					 t3.phone LIKE CONCAT(CONCAT('%', #{pd.searchName}),'%')
					 OR
					 t3.realName LIKE CONCAT(CONCAT('%', #{pd.searchName}),'%')
					 
				)
		 	</if>
		 	<if test="pd.searchDateStart!=null and pd.searchDateStart!=''"><!-- 订单完成时间检索 -->
				AND t1.qurysdTime &gt;= #{pd.searchDateStart} 
			</if>
			<if test="pd.searchDateEnd!=null and pd.searchDateEnd!=''"><!-- 订单完成时间检索 -->
				AND t1.qurysdTime &lt;= #{pd.searchDateEnd} 
			</if>
			<if test=" pd.searchDateStart == null or pd.searchDateStart == '' ">  <!-- date为辅助字段 -->
				 AND DATE_FORMAT(NOW(),'%Y-%m-%d')=DATE_FORMAT(t1.qurysdTime,'%Y-%m-%d')
			</if>
		</where> 
		GROUP BY t1.order_takeou_id
		ORDER BY t1.orderTime desc
	</select>
	
	<!-- 查询进行中与未完成的订单 -->
	<select id="querytbOrderTakeou" parameterType="pd" resultType="pd">
		SELECT
			(select count(*) from tb_order_takeou t1 where t1.user_shangjia_fid = #{user_shangjia_id} AND t1.orderStateShangjia='2' AND to_days(t1.orderTime) = to_days(now())) AS yishuoli,
			(select count(*) from tb_order_takeou t1 where t1.user_shangjia_fid = #{user_shangjia_id} AND t1.orderStateShangjia='3' AND to_days(t1.orderTime) = to_days(now())) AS daiqucan,
			(select count(*) from tb_order_takeou t1 where t1.user_shangjia_fid = #{user_shangjia_id} AND t1.orderStateShangjia='4' AND to_days(t1.orderTime) = to_days(now())) AS jinxingzhong
	</select>
	
</mapper>
